.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
    .title {
      font-size: 6rem;
      font-weight: bold;
      color: rgb(0, 0, 0);
      margin-bottom: 16px;
      text-transform: uppercase;
      font-family: "Vesper Libre", serif;
    }
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
  }
}
